<dx-data-grid id="dataGrid"
  [dataSource]="dataSource"
  keyExpr="id"
  [showBorders]="true"
  [allowColumnReordering]="true"
  [allowColumnResizing]="true"
>
<dxo-column-chooser [enabled]="true"></dxo-column-chooser>
<dxo-search-panel [visible]="true"></dxo-search-panel>
<dxo-editing
  *ngIf="authService.isAuthenticated()"
  mode="row"
  [allowUpdating]="true">
</dxo-editing>

<dxi-column dataField="name" [allowEditing]="false"></dxi-column>
<dxi-column dataField="description" [allowEditing]="false"></dxi-column>
<dxi-column
  dataField="releaseDate"
  dataType="date"
  [allowEditing]="false">
</dxi-column>

<dxi-column dataField="countries" [calculateCellValue]="calculateCountries" [allowEditing]="false"></dxi-column>

<dxi-column dataField="genres" [calculateCellValue]="calculateGenres" [allowEditing]="false"></dxi-column>

<dxi-column dataField="rating" [allowEditing]="false"></dxi-column>

<dxi-column *ngIf="authService.isAuthenticated()" dataField="myMark"></dxi-column>

<dxo-paging [pageSize]="config.pageSize"> </dxo-paging>
<dxo-pager
  [visible]="true"
  [showNavigationButtons]="true">
</dxo-pager>

<dxo-remote-operations
  [filtering]="false"
  [paging]="true"
  [sorting]="false"
  [summary]="true"
  [grouping]="true"
  [groupPaging]="true"> 
</dxo-remote-operations>
</dx-data-grid>